.divStyle {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}
